.service__navigaton_item, .accordion-hidden, .question__accordion_text, .question__accordion_img, .header__contact a, .header__navigation_link, .navigation__active, .button {
  transition: all 0.3s ease-out;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 6rem;
  color: #434040;
  font-style: normal;
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 1.6rem;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4rem;
  text-align: center;
}
@media (max-width: 414px) {
  .title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

.span_colored {
  color: #FD9900;
  font-weight: 600;
}

::placeholder {
  text-align: center;
}

.button {
  background: linear-gradient(180deg, #F1761D 0%, #FEBC62 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px rgba(238, 148, 10, 0.5));
}

input {
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  border: none;
  padding: 1rem 1.2rem;
  outline: none;
  filter: drop-shadow(3px 3px 10px rgba(163, 195, 207, 0.7));
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.header {
  background-color: #60B6F8;
  padding: 2.7rem 0 0.8rem;
  position: relative;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 8.5% 35% 21% 32%;
  align-items: center;
}
@media (max-width: 414px) {
  .header__wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
  }
}

.logo {
  justify-self: right;
}
@media (max-width: 414px) {
  .logo {
    display: none;
  }
}

.hamburger {
  display: none;
  width: 2.9rem;
  cursor: pointer;
}
@media (max-width: 414px) {
  .hamburger {
    display: block;
  }
}

.hamburger_line {
  background: #F8F8F8;
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 3px;
}
.hamburger_line:nth-child(2) {
  margin: 6px auto;
}

@media (max-width: 414px) {
  .navigation {
    position: absolute;
    background: #60B6F8;
    z-index: 15;
    width: 100%;
    left: 0;
    text-align: center;
    transform: translateY(-500px);
    transition: 0.7s;
  }
}

.navigation__active {
  background: #60B6F8;
  z-index: 15;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transform: translateY(0);
}

.header__navigation_list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 2.4rem;
  justify-content: center;
  padding: 0;
}
@media (max-width: 414px) {
  .header__navigation_list {
    grid-template-columns: 1fr;
    width: 100%;
    grid-row-gap: 4rem;
    padding-bottom: 3rem;
  }
}

.header__navigation_link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
@media (max-width: 414px) {
  .header__navigation_link {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
.header__navigation_link:hover {
  color: #FD9900;
}

.navigation__header {
  padding-top: 2rem;
  grid-template-columns: repeat(2, 20%);
  align-items: center;
  justify-content: space-between;
  display: none;
}
@media (max-width: 414px) {
  .navigation__header {
    display: grid;
  }
}

.navigation_logo {
  width: 60%;
  margin: 0 auto;
}

.navigation__close {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.navigation__contact {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: none;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
}
.navigation__contact a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 414px) {
  .navigation__contact {
    display: grid;
  }
}

.active_link {
  color: #FD9900;
}

.header__contact {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .header__contact {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    text-align: center;
  }
}
.header__contact a {
  color: #fff;
  text-decoration: none;
}
.header__contact a:hover {
  color: #FD9900;
}

.header__contact_form {
  margin-left: 2.8rem;
}
@media (max-width: 414px) {
  .header__contact_form {
    display: none;
  }
}

.header_form {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.navigation__form_contact {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 32rem;
  row-gap: 0.6rem;
  margin: 0 auto;
}
.navigation__form_contact > button {
  padding: 1.5rem 8rem;
}
.navigation__form_contact > input {
  padding: 1.5rem 5rem;
}

.navigation__form {
  padding-bottom: 5rem;
  display: none;
}
@media (max-width: 414px) {
  .navigation__form {
    display: block;
  }
}

.navigation__form_title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #fff;
}

.navigation__form_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #fff;
}

.header__input_text {
  flex-basis: 47%;
  background: #fff;
  outline: none;
}

.order__button_header {
  flex-basis: 47%;
  padding: 1rem 1.2rem;
  font-weight: 400;
}

._active {
  opacity: 1;
  transition: 0.3s;
}

._not-active {
  opacity: 0;
  transition: 0.3s;
}

main {
  background: url(./../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.primary {
  background-size: contain;
  padding-top: 9rem;
  padding-bottom: 25rem;
  background-image: url(./../img/car2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 32%;
  background-size: 60%;
  position: relative;
}
@media (max-width: 414px) {
  .primary {
    padding-bottom: 5rem;
  }
}
@media (max-width: 414px) {
  .primary {
    background: url(./../img/car.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 414px) {
  .primary__wrapper {
    padding-left: 1.6rem;
    padding-top: 8rem;
    text-align: center;
  }
}

.primary__title {
  font-weight: 700;
  font-size: 6.7rem;
  line-height: 6.4rem;
  color: #434040;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .primary__title {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 6.4rem;
    margin-bottom: 1.7rem;
  }
}

.primary__promo {
  max-width: 65rem;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4rem;
  margin-top: 1.9rem;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .primary__promo {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    max-width: 26.5rem;
    margin: 0 auto;
  }
}

.primaty__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  margin: 1.4rem 0 1.2rem 0;
}

.primary__button {
  padding: 1.1rem 4.7rem;
}
@media (max-width: 414px) {
  .primary__button {
    padding: 1.6rem 8.4rem;
    margin-top: 1.2rem;
  }
}

.primary__phone {
  max-width: 29.8rem;
  width: 100%;
  padding: 1.5rem 2rem;
  display: none;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .primary__phone {
    display: block;
  }
}

@media (max-width: 414px) {
  .advantage {
    padding-bottom: 5rem;
  }
}

.advantage__wrapper {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 414px) {
  .advantage__wrapper {
    display: block;
    padding: 0 4rem;
  }
}

.advantage__unit {
  display: flex;
  flex-basis: 21%;
  gap: 2.8rem;
}
.advantage__unit img {
  width: auto;
  height: 37%;
  margin-top: 2rem;
}

.advantage__unit-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.advantage__unit-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
}

.about {
  background: url(./../img/bg-about.png), url(./../img/work.png) center no-repeat;
  background-size: contain, auto;
  background-position-y: 0, -12%;
}
@media (max-width: 414px) {
  .about {
    background: url(./../img/about-bg-small.png) no-repeat;
  }
}

.about__wrapper {
  padding-top: 0.4rem;
}

.about__title {
  margin-bottom: 0;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 41.6rem);
  justify-content: space-around;
  padding-top: 49.2rem;
  position: relative;
}
@media (max-width: 414px) {
  .about__content {
    grid-template-columns: 1fr;
    padding-top: 32.8rem;
    grid-row-gap: 5.8rem;
  }
}
.about__content::before {
  content: url(./../img/point-left.png);
  position: absolute;
  top: 40%;
  left: 15%;
}
@media (max-width: 414px) {
  .about__content::before {
    content: url(./../img/point-left-small.png);
    top: 17.5%;
    left: -2%;
  }
}
.about__content::after {
  content: url(./../img/point-right.png);
  position: absolute;
  top: 28%;
  right: 16%;
}
@media (max-width: 414px) {
  .about__content::after {
    content: url(./../img/point-right-small.png);
    top: 15%;
    right: 11%;
  }
}

.about__content_rectange {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  padding: 1.6rem 1.4rem;
}
@media (max-width: 414px) {
  .about__content_rectange {
    max-width: 80%;
    padding: 0.8rem 1rem;
  }
  .about__content_rectange:last-child {
    justify-self: right;
  }
}
.about__content_rectange > div {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  padding: 1px 24px;
  height: 100%;
}

.about__content_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .about__content_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 1rem 0;
  }
}

.about__content_text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 1.4rem;
}
@media (max-width: 414px) {
  .about__content_text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 0;
  }
}

.order {
  background: url(./../img/bg-order.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 22rem 0 2rem 0;
}
@media (max-width: 414px) {
  .order {
    padding-top: 5rem;
    background: url(./../img/order-bg-small.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.order__content {
  max-width: 73.5rem;
  margin: 0 auto;
}

.order__title {
  padding-bottom: 1rem;
}
@media (max-width: 414px) {
  .order__title {
    max-width: 35rem;
    margin: 0 auto;
  }
}

.order__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  padding-bottom: 2rem;
}
@media (max-width: 414px) {
  .order__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    max-width: 33rem;
    margin: 0 auto;
    padding-bottom: 10rem;
  }
}

.order__contact_form {
  display: grid;
  grid-template-columns: 27.5% 30% 30%;
  justify-content: space-around;
  padding-bottom: 20rem;
}
@media (max-width: 414px) {
  .order__contact_form {
    grid-template-rows: repeat(3, 5.2rem);
    grid-template-columns: 30rem;
    grid-row-gap: 1.2rem;
    padding-bottom: 5rem;
  }
}

.price {
  background: url(./../img/bg-price.png);
}
@media (max-width: 414px) {
  .price {
    background: url(./../img/price-bg-small.png) no-repeat;
    background-size: cover;
    background-position-y: 5%;
    padding-bottom: 24rem;
  }
}

.price__title {
  margin-bottom: 2.2rem;
}
@media (max-width: 414px) {
  .price__title {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.price__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .price__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    max-width: 30rem;
    margin-top: 2rem;
  }
}

.price__content {
  padding-top: 2rem;
  max-width: 1096px;
  margin: 0 auto;
}

.price__content_header {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 414px) {
  .price__content_header {
    grid-template-columns: 1fr;
  }
}

.price__content_header_main {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #60B6F8;
  border-radius: 10px 10px 0px 0px;
  padding: 2.2rem 0 0 0;
  height: 100%;
}

.price__content_header_text {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  align-self: center;
  justify-self: end;
}
@media (max-width: 414px) {
  .price__content_header_text {
    display: none;
  }
}
.price__content_header_text img {
  vertical-align: bottom;
}

.price__content_description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 0 0 10px 10px;
  position: relative;
}
@media (max-width: 414px) {
  .price__content_description {
    grid-template-columns: 1fr;
  }
}
.price__content_description::before {
  content: "";
  display: block;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  position: absolute;
  width: 97%;
  height: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 414px) {
  .price__content_description::before {
    width: 90%;
    height: 96%;
  }
}

.price__content_left {
  position: relative;
}

.price__content_left::after {
  display: block;
  content: "";
  border: 2px solid #D9D9D9;
  position: absolute;
  height: 86%;
  top: 3rem;
  right: -3px;
}
@media (max-width: 414px) {
  .price__content_left::after {
    height: 75%;
    top: 62%;
    right: 50%;
    transform: rotate(90deg);
  }
}

.price__description_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  padding-top: 0.8rem;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .price__description_title {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

.price__description_list {
  max-width: 38rem;
  margin-left: 9rem;
}
@media (max-width: 414px) {
  .price__description_list {
    margin-left: 1.5rem;
    max-width: 31rem;
  }
}

.price__description_item {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  padding-bottom: 2.2rem;
  list-style-image: url(./../img/dots.svg);
  padding-left: 1.4rem;
}
@media (max-width: 414px) {
  .price__description_item {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.price__content_mobile {
  display: none;
}
@media (max-width: 414px) {
  .price__content_mobile {
    display: block;
  }
}

.price__content_mobile_text {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #3D4245;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 0 5rem;
  align-items: center;
  grid-column-gap: 1.5rem;
}

.depth {
  padding-top: 16.6rem;
  background: url(./../img/bg-depth.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 414px) {
  .depth {
    padding-top: 0;
    background-size: 250%;
    background-position-x: 20%;
  }
}

.depth__title {
  max-width: 60rem;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .depth__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

.depth__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}
@media (max-width: 414px) {
  .depth__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.depth__form {
  display: grid;
  grid-template-columns: 24% 15.5% 15.5% 17%;
  justify-content: center;
  padding-top: 4.8rem;
  grid-column-gap: 2rem;
  padding-bottom: 14.8rem;
}
@media (max-width: 414px) {
  .depth__form {
    grid-template-rows: repeat(4, 5.2rem);
    grid-template-columns: 30rem;
    grid-row-gap: 1.2rem;
  }
}

.step__wrapper {
  padding-top: 3.6rem;
}

.step__title {
  max-width: 46.5rem;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .step__title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

.spet__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 315px));
  padding-top: 8.4rem;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .spet__content {
    grid-template-columns: 1fr;
    text-align: center;
    grid-row-gap: 4.8rem;
  }
}

.step__rectange {
  position: relative;
}

.step__rectange_img {
  padding-top: 20px;
  padding-left: 0.8rem;
}

.step-counter {
  position: absolute;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  background: #60B6F8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 3px;
  text-align: center;
  left: 2%;
  top: 4%;
}
@media (max-width: 414px) {
  .step-counter {
    left: 34%;
  }
}

.step__rectange_title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 0.8rem;
}
@media (max-width: 414px) {
  .step__rectange_title {
    padding-left: 0;
    max-width: 25rem;
    margin: 0 auto;
  }
}

.step__rectange_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 0.8rem;
}
@media (max-width: 414px) {
  .step__rectange_text {
    padding-left: 0;
    max-width: 30rem;
    margin: 0 auto;
  }
}

.review {
  padding-top: 3.6rem;
}

.review__video_slider {
  text-align: center;
  padding-top: 1.6rem;
}
.review__video_slider img {
  border-radius: 10px;
}
@media (max-width: 414px) {
  .review__video_slider img {
    width: 33rem;
  }
}

.review__text_slider-content {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  padding-top: 13rem;
}
@media (max-width: 414px) {
  .review__text_slider-content {
    grid-template-columns: repeat(4, 32rem);
    width: 32rem;
    margin: 0 auto;
    grid-column-gap: 5rem;
    display: none;
  }
}

.review__text_slider-rectange {
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 1px solid rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 1.6rem 1.6rem 8rem 1.1rem;
}
.review__text_slider-rectange::before {
  content: "";
  position: absolute;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 8px;
  right: -8px;
  top: -8px;
}

.review__slider_text {
  font-weight: 400;
}

.review__slider_name {
  font-weight: 700;
  margin-bottom: 0;
}

.review__slider_city {
  font-weight: 700;
  margin-top: 0;
}

.review__slider {
  margin-top: 10rem;
}

.swiper-slide {
  width: 38rem;
  padding: 10px 0;
}

.review__slider-container {
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  width: 33rem;
  margin: 0 auto;
  padding: 12px;
}

.review_slider__content {
  background: #FFFFFF;
  border: 1px solid rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 3.7rem 1.5rem 9rem;
}

.review__slider_text {
  padding-bottom: 1.6rem;
}

.question {
  padding-top: 11rem;
  background: url(./../img/bg-question.png);
  padding-bottom: 17rem;
  background-position: bottom;
  background-repeat: no-repeat;
}

.question__accordion {
  max-width: 109.6rem;
  margin: 0 auto;
  padding-top: 3.5rem;
}

.question__accordion_content {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  padding-left: 45px;
  padding-top: 1px;
  margin-bottom: 1.8rem;
}
.question__accordion_content:last-child {
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .question__accordion_content {
    padding-left: 1.4rem;
  }
}

.question__accordion_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-bottom: 2.2rem;
  margin-bottom: 0;
  position: relative;
}
@media (max-width: 414px) {
  .question__accordion_title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 25rem;
  }
}

.question__accordion_img {
  position: absolute;
  right: 5.7%;
  cursor: pointer;
}
@media (max-width: 414px) {
  .question__accordion_img {
    right: -33.3%;
  }
}

.question_select {
  transform: rotate(180deg);
}

.question__accordion_text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0;
  padding-bottom: 6rem;
  max-width: 92rem;
  padding-top: 1.5rem;
}
@media (max-width: 414px) {
  .question__accordion_text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.accordion-hidden {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  height: 0;
}

.footer {
  background: #60B6F8;
  padding-bottom: 3rem;
}
@media (max-width: 414px) {
  .footer {
    background-color: #3C91D2;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  padding-top: 2rem;
  align-items: baseline;
}
@media (max-width: 414px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
}

.footer__contact {
  color: #fff;
}

.footer__contact_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0;
}

.footer__contact_link {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.footer__contact_link a {
  text-decoration: none;
  color: #fff;
  padding-right: 6px;
}
.footer__contact_link a:hover {
  color: #FD9900;
}
.footer__contact_link img {
  vertical-align: bottom;
}

.footer__contact_adress {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 28rem;
}

.footer__contact_unp {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 20rem;
}

.footer__working-mode {
  color: #fff;
}
@media (max-width: 414px) {
  .footer__working-mode {
    grid-row: 3/4;
  }
}

.footer__working_time {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.footer__working_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.footer__form {
  color: #fff;
}
@media (max-width: 414px) {
  .footer__form {
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.footer__form_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.6rem;
}

.footer__form_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-top: 0;
}

.footer__form_contact {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 32rem;
  row-gap: 0.6rem;
}
@media (max-width: 414px) {
  .footer__form_contact {
    margin: 0 auto;
  }
}

.footer__logo {
  display: none;
}
@media (max-width: 414px) {
  .footer__logo {
    display: block;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: 20% 69%;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.footer__logo_img {
  justify-self: end;
  width: 70%;
}

.service {
  background: url(./../img/service-bg.png);
  background-repeat: no-repeat;
}

.service__wrapper {
  padding-top: 3.8rem;
}

.service__title {
  margin: 0;
}

.service__content {
  display: grid;
  grid-template-columns: 24% 69%;
  padding-top: 3rem;
}

.service__description {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
}

.service__description_content {
  padding: 10rem 10.5rem 0.1rem 10.5rem;
}

[data-service=rotor] {
  background-image: url(./../img/plant.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: none;
}

[data-service=arrangement] {
  background-image: url(./../img/plant.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  display: none;
}

[data-service=repair] {
  background-image: url(./../img/gidrofor.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.service__navigaton_list {
  padding-left: 0;
  margin: 0;
}

.service__navigaton_item {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #D9F0FA;
  border-radius: 10px;
  padding: 2rem 0;
  cursor: pointer;
}
.service__navigaton_item:hover {
  background: linear-gradient(180deg, #F1761D 0%, #FEBC62 100%);
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
}

.service__description {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #434040;
}

.service__description_span {
  font-weight: 600;
  color: #434040;
}

.service__description_title {
  font-weight: 600;
  color: #434040;
  padding-top: 1.6rem;
}

.service__description_list {
  padding-left: 5.4rem;
  position: relative;
}

.service__description_item {
  padding-bottom: 2.6rem;
}
.service__description_item::before {
  content: url(./../img/done.png);
  position: absolute;
  left: 0;
}

.service__well_rectangle {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  margin-bottom: 1.6rem;
}
.service__well_rectangle:last-child {
  margin-bottom: 0;
}
.service__well_rectangle img {
  justify-self: center;
  padding-top: 2rem;
}

.well_rectangle_text {
  padding-bottom: 1.4rem;
}
.well_rectangle_text:nth-last-child(n+2) {
  padding-bottom: 0;
  margin-bottom: 0;
}

.well_rectangle_list {
  margin-top: 0;
  padding-bottom: 2.4rem;
}

.well_rectangle_list_item {
  list-style-type: disc;
}

.arrangement_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #434040;
  padding-top: 3rem;
}

.arrangement_form {
  max-width: 60rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.well_rectangle_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.service__well_rectangle {
  display: grid;
  grid-template-columns: 27% 68%;
}

.repair_header {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #434040;
  display: grid;
  grid-template-columns: 8% 1fr;
  align-items: center;
}
.repair_header:nth-child(1) {
  margin-top: 0;
}
.repair_header::before {
  content: url(./../img/done.png);
  line-height: 0;
}

.repair_description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.repair_description_content {
  display: grid;
  grid-template-columns: 25% 65%;
}

.repair__description_text {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0;
}

.repair_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-top: 2.8rem;
}

.repair_answer {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  display: grid;
  grid-template-columns: 8% 1fr;
  align-items: center;
}
.repair_answer:last-child {
  padding-bottom: 3rem;
}
.repair_answer::before {
  content: url(./../img/done.png);
  line-height: 0;
}

.repair_answer_description {
  display: grid;
  grid-template-columns: 8% 1fr;
}
.repair_answer_description::before {
  content: "";
}

.service__contact-us {
  text-align: center;
  background: linear-gradient(180deg, #D9F0FA 0%, rgba(217, 240, 250, 0.48) 100%);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  margin: 2rem 2rem 30rem 2rem;
}

.service__contact_form {
  display: grid;
  grid-template-columns: 24% 28% 30%;
  justify-content: center;
  padding-bottom: 5rem;
  grid-column-gap: 1rem;
}

.service__contact-us_title {
  padding-top: 2.4rem;
  font-weight: 600;
}

.service__contact-us_text {
  max-width: 58rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.service__button {
  padding: 1rem 4.8rem;
}

.service__footer {
  margin-top: 24rem;
}

.about_page {
  background: url(./../img/bg-pages.png);
  background-position: top;
  color: #434040;
  padding-bottom: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_page__title {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 3.2rem;
  color: #434040;
  text-align: center;
  padding-top: 6.3rem;
  margin-top: 0;
}

.about_page__content {
  max-width: 110rem;
  margin: 0 auto;
  padding: 7.5rem 10rem 20rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  margin-top: 6.5rem;
}

.about_page_well {
  padding-bottom: 4rem;
}

.about_page_description {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;
  padding-bottom: 5.5rem;
}

.about_main {
  font-weight: 600;
}

.about_page_list_item {
  list-style-type: disc;
}

.trust__description {
  display: grid;
  grid-template-columns: 18% 75%;
}

.trust__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5.5rem;
}

.trust_title {
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.trust__description_title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0;
}

.trust__description_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contact_page_title {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 3.2rem;
  text-align: center;
}

.contact_page__content {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  padding: 7.5rem 10rem 20rem;
}

.contact_page_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact_page__logo {
  text-align: center;
  position: relative;
}
.contact_page__logo::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background: #434040;
  height: 100%;
  right: 0;
  top: 0;
}

.contact_page_company {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 2.4rem;
}

.contact_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 0;
}

.contact_page__contact {
  padding-left: 4rem;
}

.contact_page_content {
  display: grid;
  grid-template-columns: 5% 47% 7% 7%;
  align-items: center;
}

.contact_page_link {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #434040;
  text-decoration: none;
}

.contact_page_email img {
  padding-right: 1rem;
}

.contact_page__adress_text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;
  margin-top: 0;
}

.contact_page__adress_content {
  display: grid;
  grid-template-columns: 4% 65%;
  align-items: baseline;
}

.contact_page__form {
  max-width: 43rem;
  background: linear-gradient(180deg, #D9F0FA 0%, rgba(217, 240, 250, 0.48) 100%);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  margin-left: auto;
  text-align: center;
  padding: 2rem 5.5rem 3.2rem;
  margin-top: 3.4rem;
}
.contact_page__form form {
  margin: 0 auto;
}

.contact__form_title {
  color: #434040;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__form_contact {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
