.question__accordion_text, .question__accordion_img, .header__contact a, .header__navigation_link, .button {
  transition: all 0.3s ease-out;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6rem;
  color: #434040;
  font-style: normal;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4rem;
  text-align: center;
}

span {
  color: #FD9900;
}

::placeholder {
  text-align: center;
}

.button {
  background: linear-gradient(180deg, #F1761D 0%, #FEBC62 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px rgba(238, 148, 10, 0.5));
}

input {
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  border: none;
  padding: 1rem 1.2rem;
  outline: none;
  filter: drop-shadow(3px 3px 10px rgba(163, 195, 207, 0.7));
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.header {
  background-color: #60B6F8;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 8.5% 35% 21% 32%;
  padding: 2.7rem 0 0.8rem;
  align-items: center;
}

.logo {
  justify-self: right;
}

.header__navigation_list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 2.4rem;
  justify-content: center;
  padding: 0;
}

.header__navigation_link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.header__navigation_link:hover {
  color: #FD9900;
}

.active_link {
  color: #FD9900;
}

.header__contact {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  align-items: center;
}
.header__contact a {
  color: #fff;
  text-decoration: none;
}
.header__contact a:hover {
  color: #FD9900;
}

.header__contact_form {
  margin-left: 2.8rem;
}

.header_form {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.header__input_text {
  flex-basis: 47%;
  background: #fff;
  outline: none;
}

.order__button_header {
  flex-basis: 47%;
  padding: 1rem 1.2rem;
  font-weight: 400;
}

main {
  background: url(./../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.primary {
  background-size: contain;
  padding-top: 9rem;
  padding-bottom: 25rem;
  background-image: url(./../img/car.png);
  background-repeat: no-repeat;
  background-position-x: right;
  position: relative;
}
.primary::after {
  content: url(./../img/100.png);
  position: absolute;
  left: 43%;
  top: 50%;
}

.primary__wrapper {
  padding-left: 7rem;
}

.primary__title {
  font-weight: 700;
  font-size: 6.7rem;
  line-height: 6.4rem;
  color: #434040;
  margin-bottom: 0;
}

.primary__promo {
  max-width: 65rem;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 4rem;
  margin-top: 1.9rem;
  margin-bottom: 0;
}

.primaty__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  margin: 1.4rem 0 1.2rem 0;
}

.primary__button {
  padding: 1.1rem 4.7rem;
}

.advantage__wrapper {
  display: flex;
  justify-content: space-around;
}

.advantage__unit {
  display: flex;
  flex-basis: 21%;
  gap: 2.8rem;
}
.advantage__unit img {
  width: auto;
  height: 37%;
  margin-top: 2rem;
}

.advantage__unit-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

.advantage__unit-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.2rem;
}

.about {
  background: url(./../img/bg-about.png), url(./../img/work.png) center no-repeat;
  background-size: 100%, cover;
  background-position-y: 0, -24%;
}

.about__wrapper {
  padding-top: 0.4rem;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 41.6rem);
  justify-content: space-around;
  padding-top: 45.8rem;
  position: relative;
}
.about__content::before {
  content: url(./../img/point-left.png);
  position: absolute;
  top: 37%;
  left: 9%;
}
.about__content::after {
  content: url(./../img/point-right.png);
  position: absolute;
  top: 25%;
  right: 10%;
}

.about__content_rectange {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  padding: 1.6rem 1.4rem;
}
.about__content_rectange > div {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  padding: 1px 24px;
  height: 100%;
}

.about__content_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0;
}

.about__content_text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 1.4rem;
}

.order {
  background: url(./../img/bg-order.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.order__wrapper {
  padding: 22rem 0 2rem 0;
}

.order__content {
  max-width: 73.5rem;
  margin: 0 auto;
}

.order__title {
  padding-bottom: 1rem;
}

.order__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  padding-bottom: 2rem;
}

.order__contact_form {
  display: grid;
  grid-template-columns: 27.5% 30% 30%;
  justify-content: space-around;
  padding-bottom: 20rem;
}

.price {
  background: url(./../img/bg-price.png);
}

.price__title {
  margin-bottom: 2.2rem;
}

.price__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
}

.price__content {
  padding-top: 2rem;
  max-width: 1096px;
  margin: 0 auto;
}

.price__content_header {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-content: center;
  align-items: baseline;
}

.price__content_header_main {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #60B6F8;
  border-radius: 10px 10px 0px 0px;
  padding: 2.2rem 0 0 0;
  height: 100%;
}

.price__content_header_text {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  align-self: center;
  justify-self: end;
}
.price__content_header_text img {
  vertical-align: bottom;
}

.price__content_description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 0 0 10px 10px;
  position: relative;
}
.price__content_description::before {
  content: "";
  display: block;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  position: absolute;
  width: 97%;
  height: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price__content_left {
  position: relative;
}

.price__content_left::after {
  display: block;
  content: "";
  border: 2px solid #D9D9D9;
  position: absolute;
  height: 86%;
  top: 3rem;
  right: -3px;
}

.price__description_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  padding-top: 0.8rem;
  margin-bottom: 0;
}

.price__description_list {
  max-width: 38rem;
  margin-left: 9rem;
}

.price__description_item {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  padding-bottom: 2.2rem;
  list-style-image: url(./../img/dots.svg);
  padding-left: 1.4rem;
}

.depth {
  padding-top: 16.6rem;
  background: url(./../img/bg-depth.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.depth__title {
  max-width: 60rem;
  margin: 0 auto;
}

.depth__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}

.depth__form {
  display: grid;
  grid-template-columns: 24% 15.5% 15.5% 17%;
  justify-content: center;
  padding-top: 4.8rem;
  grid-column-gap: 2rem;
  padding-bottom: 14.8rem;
}

.step__wrapper {
  padding-top: 3.6rem;
}

.step__title {
  max-width: 46.5rem;
  margin: 0 auto;
}

.spet__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 315px));
  padding-top: 8.4rem;
  justify-content: space-between;
}

.step__rectange {
  position: relative;
}

.step__rectange_img {
  padding-top: 20px;
  padding-left: 0.8rem;
}

.step-counter {
  position: absolute;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  background: #60B6F8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 3px;
  text-align: center;
  left: 2%;
  top: 4%;
}

.step__rectange_title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 0.8rem;
}

.step__rectange_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 0.8rem;
}

.review {
  padding-top: 3.6rem;
}

.review__video_slider {
  text-align: center;
  padding-top: 1.6rem;
}
.review__video_slider img {
  border-radius: 10px;
}

.review__text_slider-content {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  padding-top: 13rem;
}

.review__text_slider-rectange {
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 1px solid rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 1.6rem 1.6rem 8rem 1.1rem;
}
.review__text_slider-rectange::before {
  content: "";
  position: absolute;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 8px;
  right: -8px;
  top: -8px;
}

.review__slider_text {
  font-weight: 400;
}

.review__slider_name {
  font-weight: 700;
  margin-bottom: 0;
}

.review__slider_city {
  font-weight: 700;
  margin-top: 0;
}

.question {
  padding-top: 11rem;
  background: url(./../img/bg-question.png);
  padding-bottom: 17rem;
  background-position: bottom;
  background-repeat: no-repeat;
}

.question__accordion {
  max-width: 109.6rem;
  margin: 0 auto;
  padding-top: 3.5rem;
}

.question__accordion_content {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px rgba(163, 195, 207, 0.7);
  padding-left: 45px;
  padding-top: 1px;
  margin-bottom: 1.8rem;
}
.question__accordion_content:last-child {
  margin-bottom: 0;
}

.question__accordion_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-bottom: 2.2rem;
  margin-bottom: 0;
  position: relative;
}

.question__accordion_img {
  position: absolute;
  right: 5.7%;
  cursor: pointer;
}

.question_select {
  transform: rotate(180deg);
}

.question__accordion_text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 0;
  padding-bottom: 6rem;
  max-width: 92rem;
  padding-top: 1.5rem;
}

.accordion-hidden {
  display: none;
}

.footer {
  background: #60B6F8;
  padding-bottom: 6rem;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  padding-top: 5rem;
  align-items: baseline;
}

.footer__contact {
  color: #fff;
}

.footer__contact_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0;
}

.footer__contact_link {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.footer__contact_link a {
  text-decoration: none;
  color: #fff;
  padding-right: 6px;
}
.footer__contact_link a:hover {
  color: #FD9900;
}
.footer__contact_link img {
  vertical-align: bottom;
}

.footer__contact_adress {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 28rem;
}

.footer__contact_unp {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 20rem;
}

.footer__working-mode {
  color: #fff;
}

.footer__working_time {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.footer__working_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.footer__form {
  color: #fff;
}

.footer__form_title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.6rem;
}

.footer__form_text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-top: 0;
}

.footer__form_contact {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 32rem;
  row-gap: 0.6rem;
}

/*# sourceMappingURL=style.css.map */
