.footer {
    background: $bg-color;
    padding-bottom: 3rem;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    padding-top: 2rem;
    align-items: baseline;

    @include media-mobile {
        grid-template-columns: 1fr;
    }
}

.footer__contact {
    color: $color-light;
}

.footer__contact_title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0;
}

.footer__contact_link {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;

    a {
        text-decoration: none;
        color: $color-light;
        padding-right: 6px;

        &:hover {
            color: $color-aditional;
        }
    }

    img {
        vertical-align: bottom;
    }
}

.footer__contact_adress {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    max-width: 28rem;
}

.footer__contact_unp {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    max-width: 20rem;
}

.footer__working-mode {
    color: $color-light;
}

.footer__working_time {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.footer__working_title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.footer__form {
    color: $color-light;
    grid-row: 1/2;
}

.footer__form_title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: .6rem;
}

.footer__form_text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-top: 0;
}

.footer__form_contact {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 32rem;
    row-gap: .6rem;
}