.header {
    background-color: $bg-color;
}

.header__wrapper {
    display: grid;
    grid-template-columns: 8.5% 35% 21% 32%;
    padding: 2.7rem 0 .8rem;
    align-items: center;

}

.logo {
    justify-self: right;
}

.header__navigation_list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 2.4rem;
    justify-content: center;
    padding: 0;
}

.header__navigation_link {
    color: $color-light;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    @extend %transition;

    &:hover {
        color: $color-aditional;
    }
}

.active_link {
    color: $color-aditional;
}

.header__contact {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-items: center;


    a {
        color: $color-light;
        text-decoration: none;
        @extend %transition;

        &:hover {
            color: $color-aditional;

        }
    }
}





.header__contact_form {
    margin-left: 2.8rem;
}

.header_form {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.header__input_text {
    flex-basis: 47%;
    background: $color-light;
    outline: none;
}

.order__button_header {
    flex-basis: 47%;
    padding: 1rem 1.2rem;
    font-weight: 400;
}