.order {
    background: url(./../img/bg-order.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.order__wrapper {
    padding: 22rem 0 2rem 0;
}

.order__content {
    max-width: 73.5rem;
    margin: 0 auto;
}

.order__title {
    padding-bottom: 1rem;
}

.order__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    padding-bottom: 2rem;
}


.order__contact_form {
    display: grid;
    grid-template-columns: 27.5% 30% 30%;
    justify-content: space-around;
    padding-bottom: 20rem;
}