main {
    background: url(./../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.primary {
    background-size: contain;
    padding-top: 9rem;
    padding-bottom: 25rem;
    background-image: url(./../img/car.png);
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;

    &::after {
        content: url(./../img/100.png);
        position: absolute;
        left: 43%;
        top: 50%;
    }
}

.primary__wrapper {
    padding-left: 7rem;
}


.primary__title {
    font-weight: 700;
    font-size: 6.7rem;
    line-height: 6.4rem;
    color: $color-text;
    margin-bottom: 0;
}

.primary__promo {
    max-width: 65rem;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4rem;
    margin-top: 1.9rem;
    margin-bottom: 0;
}

.primaty__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 4rem;
    margin: 1.4rem 0 1.2rem 0;
}

.primary__button {
    padding: 1.1rem 4.7rem;
}